In [ ]:
# Two data sources

In [ ]:
# IMDB dataset - movie features,ratings,etc

In [ ]:
# MovieLens - Users ratings on Movies

In [ ]:
# Small: 100,000 ratings and 3,600 tag applications applied to 9,000 movies by 600 users. Last updated 9/2018.

In [ ]:
# Data Cleaning for IMDB

In [ ]:
# IMDB MOVIES AND IMDB RATINGS

In [1]:
import pandas as pd
import numpy as np

# import datasets
movies = pd.read_csv('IMDb movies.csv')
imdb_ratings = pd.read_csv('IMDb ratings.csv')

C:\Users\ipone\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# IMDB MOVIEWS

In [2]:
movies.head(2).append(movies.tail(2))

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [3]:
print(movies.shape)

(85855, 22)

In [4]:
print(movies.dtypes)

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [5]:
print(movies.isnull().sum())   # check for missing values

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     64
language                   833
director                    87
writer                    1572
production_company        4455
actors                      69
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64

In [6]:
# drop the features that has too many missing values
cols_to_drop = ['budget', 'usa_gross_income','worlwide_gross_income','metascore','reviews_from_users','reviews_from_critics']
movies = movies.drop(cols_to_drop, axis=1)

In [7]:
print(movies.isnull().sum())   # check for missing values

imdb_title_id            0
title                    0
original_title           0
year                     0
date_published           0
genre                    0
duration                 0
country                 64
language               833
director                87
writer                1572
production_company    4455
actors                  69
description           2115
avg_vote                 0
votes                    0
dtype: int64

In [8]:
# replace the rows with missing entries with MISSING 
movies[['country','language','director','writer','production_company','actors','description']] = movies[['country','language','director','writer','production_company','actors','description']].fillna('_MISSING_')

In [9]:
print(movies.isnull().sum())

imdb_title_id         0
title                 0
original_title        0
year                  0
date_published        0
genre                 0
duration              0
country               0
language              0
director              0
writer                0
production_company    0
actors                0
description           0
avg_vote              0
votes                 0
dtype: int64

In [10]:
movies.head(2).append(movies.tail(2))

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",Gizem Ajans,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",_MISSING_,6.4,194
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig",La Xarxa de Comunicació Local,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102

In [11]:
# save a local copy
movies.to_csv('imdb movies_cleaned.csv',encoding='utf-8', index=False)

In [ ]:
# imdb rating dataset cleaning (not used)

In [12]:
imdb_ratings.head(2).append(imdb_ratings.tail(2))

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
85853,tt9914286,6.4,194,9.4,10.0,176,0,2,2,1,...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
85854,tt9914942,6.7,102,6.8,7.0,4,4,21,35,27,...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

In [13]:
print(imdb_ratings.shape)

(85855, 49)

In [14]:
print(imdb_ratings.dtypes)

imdb_title_id                 object
weighted_average_vote        float64
total_votes                    int64
mean_vote                    float64
median_vote                  float64
votes_10                       int64
votes_9                        int64
votes_8                        int64
votes_7                        int64
votes_6                        int64
votes_5                        int64
votes_4                        int64
votes_3                        int64
votes_2                        int64
votes_1                        int64
allgenders_0age_avg_vote     float64
allgenders_0age_votes        float64
allgenders_18age_avg_vote    float64
allgenders_18age_votes       float64
allgenders_30age_avg_vote    float64
allgenders_30age_votes       float64
allgenders_45age_avg_vote    float64
allgenders_45age_votes       float64
males_allages_avg_vote       float64
males_allages_votes          float64
males_0age_avg_vote          float64
males_0age_votes             float64
males_18age_avg_vote         float64
males_18age_votes            float64
males_30age_avg_vote         float64
males_30age_votes            float64
males_45age_avg_vote         float64
males_45age_votes            float64
females_allages_avg_vote     float64
females_allages_votes        float64
females_0age_avg_vote        float64
females_0age_votes           float64
females_18age_avg_vote       float64
females_18age_votes          float64
females_30age_avg_vote       float64
females_30age_votes          float64
females_45age_avg_vote       float64
females_45age_votes          float64
top1000_voters_rating        float64
top1000_voters_votes         float64
us_voters_rating             float64
us_voters_votes              float64
non_us_voters_rating         float64
non_us_voters_votes          float64
dtype: object

In [15]:
print(imdb_ratings.isnull().sum())   # check for missing values

imdb_title_id                    0
weighted_average_vote            0
total_votes                      0
mean_vote                        0
median_vote                      0
votes_10                         0
votes_9                          0
votes_8                          0
votes_7                          0
votes_6                          0
votes_5                          0
votes_4                          0
votes_3                          0
votes_2                          0
votes_1                          0
allgenders_0age_avg_vote     52496
allgenders_0age_votes        52496
allgenders_18age_avg_vote      706
allgenders_18age_votes         706
allgenders_30age_avg_vote       10
allgenders_30age_votes          10
allgenders_45age_avg_vote       80
allgenders_45age_votes          80
males_allages_avg_vote           1
males_allages_votes              1
males_0age_avg_vote          58444
males_0age_votes             58444
males_18age_avg_vote          1465
males_18age_votes             1465
males_30age_avg_vote            12
males_30age_votes               12
males_45age_avg_vote           101
males_45age_votes              101
females_allages_avg_vote        81
females_allages_votes           81
females_0age_avg_vote        63738
females_0age_votes           63738
females_18age_avg_vote        6521
females_18age_votes           6521
females_30age_avg_vote         944
females_30age_votes            944
females_45age_avg_vote        2798
females_45age_votes           2798
top1000_voters_rating          679
top1000_voters_votes           679
us_voters_rating               209
us_voters_votes                209
non_us_voters_rating             1
non_us_voters_votes              1
dtype: int64

In [16]:
# drop the demographics
imdb_ratings=imdb_ratings.drop(imdb_ratings.columns[15:49], axis=1)

In [17]:
print(imdb_ratings.isnull().sum())

imdb_title_id            0
weighted_average_vote    0
total_votes              0
mean_vote                0
median_vote              0
votes_10                 0
votes_9                  0
votes_8                  0
votes_7                  0
votes_6                  0
votes_5                  0
votes_4                  0
votes_3                  0
votes_2                  0
votes_1                  0
dtype: int64

In [18]:
print(imdb_ratings.shape)

(85855, 15)

In [ ]:
# now, merge the two dataset using imdb_title_id

In [19]:
movies['imdb_title_id'].is_unique

True

In [20]:
imdb_ratings['imdb_title_id'].is_unique

True

In [21]:
# merge two datasets using inner join
imdb_movies_ratings = pd.merge(movies, imdb_ratings, how="inner", on='imdb_title_id')

In [22]:
print(imdb_movies_ratings.shape)

(85855, 30)

In [23]:
print(imdb_movies_ratings.dtypes)

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
weighted_average_vote    float64
total_votes                int64
mean_vote                float64
median_vote              float64
votes_10                   int64
votes_9                    int64
votes_8                    int64
votes_7                    int64
votes_6                    int64
votes_5                    int64
votes_4                    int64
votes_3                    int64
votes_2                    int64
votes_1                    int64
dtype: object

In [24]:
# merged imdb rating with movies features (not used)
imdb_movies_ratings.head(2).append(imdb_movies_ratings.tail(2))

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,votes_10,votes_9,votes_8,votes_7,votes_6,votes_5,votes_4,votes_3,votes_2,votes_1
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,12,4,10,43,28,28,9,1,5,14
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,57,18,58,137,139,103,28,20,13,16
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,176,0,2,2,1,0,1,1,0,11
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,4,4,21,35,27,2,4,3,1,1

In [ ]:
#-------------------END OF CLEANING FOR IMDB DATA-----------------

In [ ]:
# Data cleaning for MovieLens Data

In [56]:
import pandas as pd
import numpy as np

# import datasets - small 100k ratings
MovieLens_movies = pd.read_csv('movies.csv')
ML_ratings = pd.read_csv('ratings.csv')
ML_links = pd.read_csv('links.csv')
ML_tags = pd.read_csv('tags.csv')

#ML_tag_id = pd.read_csv('genome-tags.csv')
#ML_tag_score = pd.read_csv('genome-scores.csv')

In [ ]:
# users ratings

In [20]:
ML_ratings.head(3).append(ML_ratings.tail(3))

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [58]:
print(ML_ratings.shape) # 100k user ratings on movies

(100836, 4)

In [59]:
print(ML_ratings.dtypes)

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [60]:
print(ML_ratings.isnull().sum())   # check for missing values

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [ ]:
# MovieLens_movies

In [61]:
MovieLens_movies.head(2).append(MovieLens_movies.tail(2))

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [62]:
print(MovieLens_movies.shape) # 9742 movies

(9742, 3)

In [63]:
print(MovieLens_movies.dtypes)

movieId     int64
title      object
genres     object
dtype: object

In [64]:
print(MovieLens_movies.isnull().sum())   # check for missing values

movieId    0
title      0
genres     0
dtype: int64

In [ ]:
# MovieLens_movies can merge with ML_ratings with on movieID

In [ ]:
# users tagging

In [65]:
ML_tags.head(2).append(ML_tags.tail(2))

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

In [66]:
print(ML_tags.shape) # 3683 user taggings on movies

(3683, 4)

In [67]:
print(ML_tags.dtypes)

userId        int64
movieId       int64
tag          object
timestamp     int64
dtype: object

In [68]:
print(ML_tags.isnull().sum())   # check for missing values

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [44]:
# can remove the 16 rows for missing tags
# replace the rows with missing entries with MISSING 
#ML_tags=ML_tags.dropna()

In [69]:
print(ML_tags.isnull().sum())

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [70]:
print(ML_tags.shape) # 109M user taggings on movies

(3683, 4)

In [ ]:
# For Hybrid Model - combine the two dataset - create a metadata dataset

In [1]:
import pandas as pd
import numpy as np

# import datasets
movies = pd.read_csv('imdb movies_cleaned.csv')  # cleaned imdb movies dataset, refer to data cleaning file
MovieLens_movies = pd.read_csv('movies.csv')
ML_ratings = pd.read_csv('ratings.csv')
ML_links = pd.read_csv('links.csv')

C:\Users\ipone\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
ML_ratings.head(2).append(ML_ratings.tail(2))

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [3]:
movies.head(2).append(movies.tail(2))

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",Gizem Ajans,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",_MISSING_,6.4,194
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,"Coral Cruz, Pep Puig",La Xarxa de Comunicació Local,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102

In [4]:
print(ML_ratings.shape)

(100836, 4)

In [5]:
print(ML_ratings.dtypes)

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

In [6]:
print(ML_ratings.isnull().sum())   # check for missing values

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [7]:
# transform the imdb_title_id to match the imdbid format in MLratings for IMDB movies dataset
movies['imdb_title_id']=movies['imdb_title_id'].str[2:]
movies['imdb_title_id']=movies['imdb_title_id'].apply(lambda x: x.lstrip('0'))

In [14]:
movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes
0,9,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154
1,574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589
2,1892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",_MISSING_,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188
3,2101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446
4,2130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237

In [9]:
ML_ids = ML_links[ML_links['imdbId'].notnull()]['imdbId'].astype('str')
ML_ids

0        114709
1        113497
2        113228
3        114885
4        113041
         ...
9737    5476944
9738    5914996
9739    6397426
9740    8391976
9741     101726
Name: imdbId, Length: 9742, dtype: object

In [10]:
movies.shape

(85855, 16)

In [11]:
movie_cleaned = movies[movies['imdb_title_id'].isin(ML_ids)]
movie_cleaned.shape

(8562, 16)

In [ ]:
# We have 8562 movies avaiable in metadata set (combined)

In [ ]:
# save a local copy
movie_cleaned.to_csv('movies_matched.csv',encoding='utf-8', index=False)

In [ ]:
# for full dataset (not used)

In [ ]:
# tag taxonomy

In [41]:
ML_tag_id.head(2).append(ML_tag_id.tail(2))

      tagId           tag
0         1           007
1         2  007 (series)
1126   1127        zombie
1127   1128       zombies

In [42]:
print(ML_tag_id.shape) # 1128 user-defined tags

(1128, 2)

In [47]:
print(ML_tag_id.dtypes)

tagId     int64
tag      object
dtype: object

In [48]:
print(ML_tag_id.isnull().sum())   # check for missing values

tagId    0
tag      0
dtype: int64

In [ ]:
# can merge tad id with tagging relevance score with user tagging

In [ ]:
#

In [49]:
ML_tag_score.head(2).append(ML_tag_score.tail(2))

          movieId  tagId  relevance
0               1      1    0.02875
1               1      2    0.02375
15584446   206499   1127    0.14025
15584447   206499   1128    0.03350

In [50]:
print(ML_tag_score.shape) # movies tagging information

(15584448, 3)

In [51]:
print(ML_tag_score.dtypes)

movieId        int64
tagId          int64
relevance    float64
dtype: object

In [53]:
print(ML_tag_score.isnull().sum())   # check for missing values

movieId      0
tagId        0
relevance    0
dtype: int64

In [55]:
ML_tag_score['tagId'].is_unique

False